################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hytale-dashboard-demo.slnx/v18/DocumentLayout.json
/.vs/hytale-dashboard-demo.slnx/FileContentIndex
/.vs/hytale-dashboard-demo.slnx/v18
/.vs
/.gitignore
/.gitignore
